/* Global Styles and Variables */
:root {
    --dark: #082032;
    --medium: #2c394b;
    --light: #35d7ff;
    --accent: #ff6a3e;
    --sunny: #f7f339;
    --clouds: #939496;
    --rain: #5387e1;
    --snow: #ffffff;
    --clear: #87CEEB;
    --loader: #046D8B;
    --borderDefault: #131313;
    --bodyTextColorWhite: #fafbfc;
    --bodyTextColorGray: #313131;
    --error: #e82e00;

    --headerFontSize: clamp(3rem, 2vw, 4rem);
    --bodyFontSize: 1rem;
    --sectionPadding: clamp(3.75rem, 7.82vw, 6.25rem) 1rem;
}

body {
    font-size: var(--bodyFontSize);
    color: var(--bodyTextColorWhite);
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    box-shadow: 0px 5px 5px 6px var(--dark);
    background-color: var(--dark);
    height: 80px;
    color: var(--accent);
}

#content {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--medium);
}

#footer {
    position: relative;
    clear: both;
    padding-top: 6px;
    bottom: 0;
    width: 100%;
    margin-top: auto;
    font-family: inherit;
    background-color: var(--dark);
    box-shadow: -6px -5px 5px 10px var(--dark);
}


.app_title {
    font-size: var(--headerFontSize);
    font-family: 'Courier New', Courier, monospace;
}

.app_sub_title {
    padding-top: 12px;
    font-size: 1.5rem;
}

.main_container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 2vh;
}

.weather_card {
    transition: all 0.5s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 1.2rem;
}

.search_container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-block: 2rem;
    height: 5em;
    gap: 1rem;
    padding-block: 1rem;
    align-items: center;
    justify-content: center;
}

.search_container>div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search_box {
    border: solid 2px #2596b2;
    border-radius: 10px;
    padding: 3px;
    padding-inline: 6px;
    font-size: var(--bodyFontSize);
}

.location {
    font-size: 1.8rem;
    padding-bottom: 2rem;
    text-align: center;
}

.current_container,
.next_days_container {
    transition: all 0.3s ease-in;

    border: solid 2px transparent;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0.8rem;
    justify-content: space-evenly;
    align-items: center;
    width: 18rem;
    height: fit-content;
    margin-bottom: 1.1rem;
}

.temperature_container_forecast {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.current {
    font-size: 1.4rem;
}

#currentTemp {
    font-size: 4rem;
}

.current_icon {
    width: 180px;
    height: 180px;
}

.wind_container {
    display: inherit;
    gap: 1rem;
}

.wind_container>* {
    font-size: 1rem;
}

.forecast_container {
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
    align-items: center;
}


.next_days_icon {
    width: 90px;
    height: 90px;
}

.next_days_container {
    width: 14rem;
    height: auto;
}


/*-- -------------------------- -->
<---           Footer           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    .forecast_container {
        margin-inline: 10px;
        flex-flow: wrap;
    }

    .main_container {
        margin-bottom: 18vh;
    }

    #footer {
        /* 40px - 100px top and bottom */
        /* padding: clamp(0.5rem, 0.9vw, 1.25rem) 1rem; */
        /* 40px - 50px */
        padding-bottom: clamp(1rem, 2vw, 0.125rem);
    }

    #footer .footer_container {
        width: 100%;
        max-width: 80rem;
        margin: auto;
    }

    #footer .footer_ul {
        /* 40px - 60px*/
        /* padding: 0 0 clamp(1rem, 4.7vw, .75rem); */
        height: 30px;
        margin: auto;
        display: flex;
        flex-direction: row;
        gap: 0.3rem;
        justify-content: space-evenly;
    }

    #footer .footer_li {
        list-style: none;
        text-align: center;
        margin-bottom: 0.3rem;
    }

    #footer .footer_li:last-of-type {
        margin-bottom: 0;
    }

    #footer .footer_link {
        /* 16px - 20px */
        font-size: clamp(0.6rem, 1vw, 0.2rem);
        line-height: 1em;
        text-decoration: none;
        /* font-weight: 700; */
        color: var(--bodyTextColor);
        position: relative;
    }

    #footer .footer_link:hover:before {
        width: 100%;
    }

    #footer .footer_link:before {
        /* top right box */
        content: "";
        background: var(--bodyTextColor);
        opacity: 1;
        position: absolute;
        display: block;
        bottom: -0.125rem;
        left: 0;
        transition: width 0.3s;
    }

    #footer .footer_copyright {
        /* 14px - 16px */
        font-size: clamp(0.6rem, 1vw, 1rem);
        text-align: center;
        color: #a0a3bd;
        display: block;
        /* 20px - 28px */
        margin: clamp(0.25rem, 1.8vw, 0.75rem) auto 0;
    }
}

@media only screen and (min-width: 64rem) {
    #footer .footer_ul {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #footer .footer_li {
        /* 44px - 88px */
        margin: 0 clamp(1.75rem, 3.2vw, 2.5rem) 0 0;
    }

    #footer .footer_link {
        /* 16px - 20px */
        font-size: clamp(1rem, 1vw, 0.2rem);

    }

    #footer .footer_li:last-of-type {
        margin: 0;
    }
}

.sunny {
    border-color: var(--sunny);
}

.clouds {
    border-color: var(--clouds);
}

.rain {
    border-color: var(--rain);
}

.snow {
    border-color: var(--snow);
}

.clear {
    border-color: var(--clear);
}

.error {
    border-color: var(--error);
}

.default {
    border-color: var(--borderDefault);
}

.error_text {
    visibility: hidden;
    text-align: center;
    padding-top: 6px;
    font-size: 0.9rem;
    color: var(--error);
}


#loadingIndicator {
    width: fit-content;
}

.loader {
    width: 180px;
    aspect-ratio: 1;
    --c: no-repeat linear-gradient(var(--loader) 0 0);
    background: var(--c), var(--c), var(--c), var(--c);
    animation:
        l9-1 1.8s infinite,
        l9-2 1.8s infinite;
}

@keyframes l9-1 {
    0% {
        background-size: 0 4px, 4px 0
    }

    25% {
        background-size: 126px 4px, 4px 0
    }

    55% {
        background-size: 126px 4px, 4px 126px
    }

    75% {
        background-size: 0 4px, 4px 126px
    }

    100% {
        background-size: 0 4px, 4px 0
    }
}

@keyframes l9-2 {

    0%,
    49.9% {
        background-position: 0 122px, 54px 54px, 100% 54px, right 54px bottom 54px
    }

    50%,
    100% {
        background-position: right 54px bottom 54px, 54px 100%, 54px 54px, right 54px top 0
    }
}